<div class="container">
    <h2 class="title-container my-5 fw-bold">Редактирование категории расходов</h2>
    <div class="search">
        <input class="form-control w-25 mb-3" type="text" placeholder="Название..." aria-label="default input example">
        <div id="validationServer01Feedback" class="invalid-feedback">
            Укажите Название.
        </div>
        <div class="items-button mt-3">
            <button type="button" id="create" class="btn btn-success py-1 px-2 me-2">Создать</button>
            <button type="button" id="delete" class="btn btn-danger py-1 px-2">Отмена</button>
        </div>
    </div>
</div>