<div class="container">
    <h1 class="main-title my-5">Расходы</h1>
    <div class="income-items d-flex mt-3 align-items-center flex-wrap mt-4">
        <div class="item">
            <h2 class="item-title">Еда</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Жильё</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Здоровье</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Кафе</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Авто</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Одежда</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Развлечения</h2>
            <div class="block-button d-flex g-col-1">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Счета</h2>
            <div class="block-button">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="item">
            <h2 class="item-title">Спорт</h2>
            <div class="block-button">
                <button class="edit btn btn-primary me-2">Редактировать</button>
                <button class="delete btn btn-danger">Удалить</button>
            </div>
        </div>

    </div>
</div>