<div class="container ">
    <h2 class="main-title my-5">Доходы и расходы</h2>
    <div class="all mb-4">
        <a href="/creation-income-and-expenses?type=income" id="income-link"><button type="button" class="link btn btn-success py-1 px-2 me-2">Создать доход</button></a>
        <a href="/creation-income-and-expenses?type=expense" id="expenses-link"><button type="button" class="link btn btn-danger py-1 px-2">Создать расход</button></a>
    </div>
    <div class="data d-flex align-items-center">
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="today">Сегодня</button>
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="week">Неделя</button>
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="month">Месяц</button>
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="year">Год</button>
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="all">Все</button>
        <button type="button" class="data-link btn btn-outline-secondary py-1 px-2 me-2" id="interval">Интервал</button>
        <span>с</span>
        <input type="text" autocomplete="off" class="data-from form-control mx-2 py-1 px-2 " id="dataFrom" placeholder="Дата">
        <span>по</span>
        <input type="text" autocomplete="off" class="data-to form-control py-1 px-2 m-2" id="dataTo" placeholder="Дата">
    </div>

    <table class="table text-center mt-5 line" id="table">
        <thead>
        <tr class="fw-bold">
            <th class="">№ операции</th>
            <th class="">Тип</th>
            <th class="">Категория</th>
            <th class="">Сумма</th>
            <th class="">Дата</th>
            <th class="">Комментарий</th>
        </tr>
        </thead>

        <tbody id="tbody">
        </tbody>

    </table>

</div>

