<div class="container">
    <h1 class="main-title my-5">Главная</h1>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Сегодня</button>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Неделя</button>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Месяц</button>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Год</button>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Все</button>
    <button type="button" class="btn btn-outline-secondary py-1 px-3 me-2 ">Интервал</button>
    <span>с</span>
    <button type="button" class="a-grey btn btn-link">Дата</button>
    <span>по</span>
    <button type="button" class="a-grey btn btn-link ">Дата</button>
    <div class="main-content d-flex justify-content-center">
        <div class="elementMyChart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="line-vertical-layout"></div>
        <div class="elementMyChart">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>


