<div class="container d-flex justify-content-center align-items-center w-100 h-100 ">
    <div class="background">
        <div class="items d-flex align-items-center flex-column">
            <h2 class="login-title mb-5">Войти</h2>
            <div class="item-input">
                <input class="form-control mb-3" type="text" id="email" placeholder="Электронная почта..."
                       aria-describedby="validationServer02Feedback">
                <div id="validationServer02Feedback" class="invalid-feedback mt-0">
                    Введите электронную почту.
                </div>
            </div>
            <div class="item-input">
                <input class="form-control mb-2" type="text" placeholder="Пароль.." id="password" aria-describedby="validationServer03Feedback">
                <div id="validationServer03Feedback" class="invalid-feedback two">
                    Введите пароль.
                </div>
                <a href="javascript:void(0)">
                    <div class="password-loss d-flex justify-content-end">Забыли пароль?</div>
                </a>
            </div>
            <button type="button" class="button-login btn btn-primary py-1 px-2 me-2 my-3" id="button-login">Войти</button>
            <p class="text-sign-up">Еще не зарегистировались? <a href="/sign-up">Зарегистрироваться</a></p>

        </div>

    </div>
</div>