<div class="container d-flex justify-content-center align-items-center w-100 h-100 ">
    <div class="background">
        <div class="items d-flex align-items-center flex-column">
            <h2 class="login-title mb-5">Войти</h2>
            <div class="item-input">
                <input class="form-control mb-3" type="text" id="last-name" placeholder="Фамилия..."
                       aria-describedby="validationServer01Feedback">
                <div id="validationServer01Feedback" class="invalid-feedback mt-0">
                    Введите Фамилию.
                </div>
            </div>
            <div class="item-input">
                <input class="form-control mb-3" type="text" id="name" placeholder="Имя..."
                       aria-describedby="validationServer02Feedback">
                <div id="validationServer02Feedback" class="invalid-feedback mt-0">
                    Введите Имя.
                </div>
            </div>
            <div class="item-input">
                <input class="form-control mb-3" type="text" id="email" placeholder="Электронная почта..."
                       aria-describedby="validationServer03Feedback">
                <div id="validationServer03Feedback" class="invalid-feedback mt-0">
                    Введите электронную почту.
                </div>
            </div>
            <div class="item-input">
                <input class="form-control mb-2" type="text" id="password" placeholder="Пароль.." aria-describedby="validationServer04Feedback">
                <div id="validationServer04Feedback" class="invalid-feedback two">
                    Введите пароль.
                </div>
            </div>
            <div class="item-input">
                <input type="checkbox" class="me-2" name="agree" id="agree">Я согласен с <a href="javascript:void(0)">правилами сайта</a>
                <div id="validationServer05Feedback" class="invalid-feedback two">
                    Введите пароль.
                </div>
            </div>
            <button type="button" class="button-login btn btn-primary py-1 px-2 me-2 my-3" id="button-login">Зарегистрироваться</button>

        </div>

    </div>
</div>